.carContainerContact {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px;
    gap: 30px;
}


.leftSectionContact {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}

.heroImageContact {
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: top;
    border-radius: 60px;
}

.rightSectionContact {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

    .rightSectionContact > :nth-child(1) {
        color: var(--mainHeaderColor);
    }

    .rightSectionContact > :nth-child(2) {
        color: var(--mainHeaderColor);
        font-size: 50px;
    }

    .rightSectionContact p:nth-of-type(1) {
        color: var(--descriptionTexts);
        font-size: 20px;
    }

    .rightSectionContact p:not(:first-of-type) {
        color: var(--mainHeaderColor);
        font-size: 20px;
    }

        .rightSectionContact p:not(:first-of-type) i {
            color: var(--mainHover);
            font-size: 20px;
            margin-right: 15px;
        }
/* contact form */
.sendButton {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: var(--mainHeaderColor);
    color: white;
    cursor: pointer;
}

    .sendButton:hover {
        background-color: var(--mainHover);
    }


.inputFieldContact {
    background-color: var(--mainHeaderColor);
    font-weight: bold;
    border: none;
    width: 100%;
    min-height: 50px;
    color: var(--mainColor);
    padding: 20px;
}

    .inputFieldContact::placeholder {
        font-size: 15px;
        color: var(--mainHover);
    }

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .carContainer {
        flex-direction: column;
        padding: 30px 15px;
        gap: 20px;
    }

    .leftSection,
    .rightSection {
        flex: unset;
        width: 100%;
        padding: 10px;
        gap: 20px;
    }

    .heroImage {
        height: 40vh;
        border-radius: 30px;
    }

    .rightSection > :nth-child(2) {
        font-size: 32px;
    }

    .rightSection p,
    .rightSection p:not(:first-of-type) i {
        font-size: 16px;
        margin-right: 10px;
    }

    .sendButton {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}
