@using static CarRentalFrontendPage.Pages.Layout.RentalConditionsModel
@model CarRentalFrontendPage.Models.Car

<h2>Mietbedingungen</h2>

@{
    var featureItems = new[]
    {
        new FeatureItem
        {
            Title = "Mindestalter:",
            Subtitles = new List<string>
            {
                $"Um den {Model.Name} fahren zu dürfen, musst du mindestens 18 Jahre alt sein."
            }
        },
        new FeatureItem
        {
            Title = "Mehrkilometer:",
            Subtitles = new List<string>
            {
                "Hinzubuchung von Kilometern vor Mietbeginn: 1,50 € / km",
                "Überzogene Kilometer bei Fahrzeugabgabe: 2,50 € / km"
            }
        },
        new FeatureItem
        {
            Title = "Premium-Schutz inklusive:",
            Subtitles = new List<string>
            {
                "Genieße Deine Fahrt mit unserem Premium-Schutzpaket, das eine Vollkasko-Selbstfahrermietfahrzeug-Versicherung beinhaltet."
            }
        },
        new FeatureItem
        {
            Title = "Vorlage einer Kaution:",
            Subtitles = new List<string>
            {
                "Vor Mietbeginn bitten wir um eine Kaution von 850 €, die Deine Reservierung sichert. € bei Wiederholte buchungen wird auf die kaution verzichtet – ganz nach Deinem Komfort und Deiner Präferenz."
            }
        }
    };
}

@foreach (var item in featureItems)
{
    <div class="featureItem">
        <h2>@item.Title</h2>
        <ul>
            @foreach (var sub in item.Subtitles)
            {
                <li>@sub</li>
            }
        </ul>
    </div>
}
