.heroContainer {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 100px;
}

.heroBannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}

.heroContent {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
}

    .heroContent h1 {
        padding: 5px 10px;
        color: var(--mainColor);
        font-size: 60px;
    }

.subTitleCar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    color: var(--mainColor);
}

.subTitleMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--mainColor);
    font-size: 25px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: var(--mainHeaderColor);
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
}

.rentalB {
    background-color: var(--mainHeaderColor);
    color: var(--mainColor);
    padding: 10px 20px;
    font-weight: bold;
}

    .rentalB:hover {
        background-color: var(--mainHover);
    }

@media (max-width: 768px) {

    .heroContainer {
        height: 30vh;
        margin-bottom: 50px;
        border-radius: 10px;
    }

    .heroContent {
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        text-align: center;
    }

        .heroContent h1 {
            font-size: 32px;
            line-height: 1.2;
        }

    .subTitleMain {
        font-size: 16px;
        gap: 5px;
    }

    .subTitleCar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 16px;
    }

    .dot {
        width: 10px;
        height: 10px;
        margin-bottom: 8px;
    }

    .rentalB {
        padding: 8px 15px;
        font-size: 16px;
        margin-top: 10px;
    }
}
